<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_basic}">
<head>
<title>게시판 글 수정</title>
<link rel="stylesheet" th:href="@{/assets/css/board.css}"> 
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
<script>
 $(function(){
	 $('#content').summernote({
		height: 300 
		 
	 });
	 
	 $('#board_modify').submit(function(){
		 if($('#content').val()=='<p><br></p>'){
			 $('#content').val('');
		 }
		 //주의 - summernote를 사용할 경우 javascript
		 //파일 용량 체크할것
		 //서버 사이드 용량 체크시 폼으로 되돌아오면 내용 입력 부분이 사라짐  
		 const fileSize = 1024 * 1024;
		 const myFile = $('#upload')[0].files[0];
		 if(myFile && myFile.size > fileSize)
			 {
			 	alert(myFile.size + 'bytes(' +fileSize + 'bytes까지만 업로드 가능)')
			 	return false;
			 }
	 });
 })
</script>
</head>
<body>
<div layout:fragment="content" class="page-main">
	<h2>게시판 글수정</h2>
	<form th:action="@{update}" id="board_modify" enctype="multipart/form-data" method="post" th:object="${boardVO}">
		<input type="hidden" th:field="*{board_num}">
		<ul>
			<li>
				<input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
				<span th:errors="*{title}" class="error-color"></span>
			</li>
			<li>
				<textarea th:field="*{content}"></textarea>
				<span th:errors="*{content}" class="error-color"></span>
			</li>
			<li>
				<label>파일 업로드</label>
				<input type="file" name="upload" id="upload">
				<th:block th:if="${not #strings.isEmpty(boardVO.filename)}">
					<div id="file_detail">
						([[${boardVO.filename}]])파일이 등록되어 있습니다.
						<input type="button" value="파일 삭제" id="file_del">
					</div>
					<script>
						$(function(){
							$('#file_del').click(function(){
								let choice = confirm('삭제하시겠습니까?');
								if(choice)
									{
									//서버와 통신
									$.ajax({
										url: 'deleteFile/' + $('#board_num').val(),
										type: 'delete',
										dataType:'json',
										beforeSend:function(xhr)
										{
											xhr.setRequestHeader($('meta[name="csrf-header"]').attr('content'), $('meta[name="csrf-token"]').attr('content'));
											
										},
										success:function(param)
										{
											if(param.result == 'success')
												{
												$('#file_detail').remove(); // 파일 정보 영역 삭제
										        $('#upload').val('');        // 파일 선택 초기화
										        alert('파일가 삭제되었습니다.');
												}
											else
												{
												alert('파일 삭제 오류 발생!');
												}
										},
										error:function()
										{
											alert('네트워크 오류 발생!');	
										}
									});
									}
							});
						});
					</script>
				</th:block>
			</li>
		</ul>	
		<div class="align-center" >
			<input type="submit" class="defaut-btn" value="전송">
			<input type="button" class="default-btn" value="목록" onclick="location.href='list'">
		</div>
	</form>
</div>
</body>
</html>
