<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_mypage}">
<head>
<meta charset="UTF-8">
<title>회원 상세 정보</title>
<link rel="stylesheet" th:href="@{/assets/css/member.css}" type="text/css">
</head>
<body>
<div layout:fragment="content" class="page-main">
	<h2>회원상세정보<input type="button" value="회원정보수정" onclick="location.href='updateUser'"></h2>
	<ul>
		<li th:text="'이름 :' + ${member.name}"></li>
		<li th:if="${not #strings.isEmpty(member.nick_name)}" th:text="'별명 :' + ${member.nick_name}"></li>
		<li th:text="'전화번호 :' + ${member.phone}"></li>
		<li th:text="'이메일 :' + ${member.email}"></li>
		<li th:text="'우편번호 :' + ${member.zipcode}"></li>
		<li> 주소: [[${member.address1}]] [[${member.address2}]]</li>
		<li th:text="'가입일 :' + ${member.reg_date}"></li>
		<li th:if="${not #strings.isEmpty(modify_date)}" th:text="'최근 수정일 :' + ${member.name}"></li>
	</ul>
</div>
</body>
</html>