<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.dao.BoardMapper"> 

	<resultMap type="boardVO" id="boardMap">
		<result property="memberVO.id" column ="id"/>
		<result property="memberVO.nick_name" column = "nick_name"/>
	</resultMap>
	
		<resultMap type="boardReplyVO" id="boardReplyMap">
		<result property="memberVO.id" column ="id"/>
		<result property="memberVO.nick_name" column = "nick_name"/>
	</resultMap>
	
	<resultMap type="boardResponseVO" id="boardResponseMap">
    <result property="memberVO.id" column="id"/>
    <result property="memberVO.nick_name" column="nick_name"/>
    <result property="memberVO.parent_id" column="parent_id"/>
    <result property="memberVO.pnick_name" column="pnick_name"/>
</resultMap>

	<!-- 게시판 글 등록 -->
	<insert id="insertBoard" parameterType="boardVO">
		insert into spboard(board_num,title,content,filename,ip,mem_num) values
		(spboard_seq.nextval, #{title}, #{content}, #{filename, jdbcType=VARCHAR}, #{ip}, #{mem_num})
	</insert>
	
	<!-- sql태그와 include태그를 이용해 sql문을 재사용 -->
	<!-- 검색 -->
	<sql id="boardSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					title like '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					id like '%' || #{keyword} || '%' or
					nick_name like '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					content like '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 4">
					title like '%' || #{keyword} || '%' or 	content like '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 게시판 전체 또는 검색 레코드수  -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		select count(*) from spboard join spmember using (mem_num)
		<include refid="boardSearch"/>
	</select>
	
	<!-- 게시판 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultMap="boardMap">
		<![CDATA[
		select board_num, replace(replace(title, '<', '&lt;'), '>', '&gt;') title,
		]]>
		hit, filename, reg_date, mem_num, id, nick_name
		from spboard 
		join spmember using(mem_num)
		<include refid="boardSearch"/>
		order by board_num desc 
		offset #{skip} rows Fetch next #{limit} rows only
	</select>
	
	<!-- 게시판 글 수정 -->
	<update id="updateBoard" parameterType="boardVO">
    update spboard
    set
    <if test="filename != null">
        filename=#{filename},
    </if>
    title=#{title},
    content=#{content},
    ip=#{ip},
    modify_date=sysdate
    where board_num=#{board_num}
</update>

<!-- 댓글 등록 -->
<insert id="insertReply" parameterType="boardReplyVO">
	insert into spboard_reply(
	re_num, re_content, re_ip, board_num, mem_num
	) values (
	spreply_seq.nextval, #{re_content}, #{re_ip}, #{board_num}, #{mem_num}
	)
	

</insert>

<!-- 댓글 목록 -->
<select id="selectListReply" parameterType="map" resultMap="boardReplyMap">
	select * from spboard_reply join spmember using (mem_num) left outer join (select re_num, count(*) resp_cnt from spboard_response group by re_num) using (re_num) where board_num=#{board_num}
	order by re_num desc
	offset #{skip} rows fetch next #{limit} rows only
</select>

<!-- 답글 등록 -->	
<insert id="insertResponse" parameterType="boardResponseVO">
	insert into spboard_response(te_num, te_content, te_parent_num, te_depth, te_ip, re_num, mem_num) values
	(response_seq.nextval, #{te_content}, #{te_parent_num}, #{te_depth}, #{te_ip}, #{re_num}, #{mem_num})
</insert>
	
	<!-- 답글 목록 -->
	<select id="selectListResponse" parameterType="long" resultMap="boardResponseMap">
		select
		 r.te_num, r.te_content, r.mem_num, a.id, a.nick_name, r.te_date, r.te_mdate, r.te_ip, r.re_num, r.te_depth, r.te_parent_num, m.id parent_id, m.nick_name pnick_name
		 from spboard_response r
		 join spmember a on r.mem_num = a.mem_num
		 left outer join spboard_response s 
		 on r.te_parent_num = s.te_num
		 left outer join spmember m on s.mem_num = m.mem_num
		 where r.re_num = #{re_num}
		 start with r.te_depth=0 
		 connect by prior r.te_num = r.te_parent_num
		 order siblings by r.te_num desc
	</select>
	
	<!-- 답글 삭제 -->
	<delete id="deleteResponse" parameterType="long">
		delete from spboard_response where te_num in (
		select te_num from spboard_response
		start with te_num = #{te_num}
		connect by prior te_num = te_parent_num
		)
	
	
	</delete>
	
	
</mapper>







